<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <title>Treetop</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-left">
                <h1>Treetop</h1>
            </div>
            <div class="nav-center">
                <a class="home-link" href="">Home</a>
                <a class="post-link" href="/post">New post</a>
            </div>
            <div class="nav-right">
                <form action="/logout" method="POST">
                    <button class="logout-button">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <ul class="post-list">
            <% for(let post of allPost) { %>
            <li class="post-item">
                <h3><%= post.username %></h3>
                <img src="<%= post.post %>" alt="Post image" class="post-image">
                <p><%= post.caption %></p>
                <div class="like-buttons">
                    <button type="button" class="like-button" data-id="<%= post._id %>">
                        Likes - <span id="like-count-<%= post._id %>"><%= post.likes || 0 %></span>
                    </button>
                </div>
                
            </li>
            <% } %>
        </ul>
    </main>
    <footer>
        <div class="footer">
            <p>Treetop</p>
            <div class="footer-links">
                <a href="/about">About</a>
                <a href="/privacy">Privacy</a>
                <a href="/contactus">Contact us</a>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function() {
            $('.like-button').click(function() {
                const postId = $(this).data('id');
                $.post(`/like/${postId}`, function(data) {
                    $(`#like-count-${postId}`).text(data.likes);
                });
            });
        });
    </script>
</body>
</html>
